<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="de,en">
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" /> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    	
    <link rel="stylesheet" href="/jquery.mobile/jquery.mobile-1.1.0.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"/></script>
    
</head>
<body>
<div data-role="page">
   	<div data-role="header" data-position="inline" data-theme="e" data-content-theme="e">
        {{>pages/common/header}}
    </div>
    <div data-role="content" id="content" data-theme="e" data-content-theme="e">
    	{{>pages/content}}
    </div>
    <div data-role="footer" data-theme="b" data-content-theme="e">
        {{>pages/common/footer}}
   </div>
</div>
</body>
</html>